/*font-family:'Fraunces', serif;
   font-family: 'Montserrat', sans-serif;
*/

*{
    margin:0; /*removes the browers margin*/
    padding: 0;
    box-sizing:border-box;
    
}

body{
    font-family: 'Montserrat', sans-serif;
    background: hsl(30, 38%, 92%);
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container{
    margin: 0 auto; /*for space of 30px at left and right*/
    padding:0 30px; 
    

}

.grid{
    max-width:700px;
    display:grid;
     grid-template-columns: 1fr 1fr;             /*To divide it into equal columns (fr means fractions) */
     background:#fff;
     border-radius: 15px;
     overflow:hidden;

    }

    .img img {
        max-width:100%; /*so they both have same width*/
        display: inherit;  /*solves problem of having the image shorter than the other column length and therefore seeing the bg-col of the other column*/


    }

    .card-content{
        padding:35px; /*it will have 35px padding at the top, left, right, and bottom*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pro-cat{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size:13px;
        color:  hsl(228, 12%, 48%);
        font-weight: 500;
    }
    
    h2.pro-name{
        font-family:'Fraunces', serif;
        font-size: 34px;
        line-height:1em;  /*responsible for the space in height between the gabrielle essence and Eau De Parfum texts */
        color: hsl(212, 21%, 14%);
    }

    p.pro-des{
        color: hsl(228, 12%, 48%);
        line-height: 1.6em;
    }

    .price{
        display: flex;
        align-items: center;
    }

    p.current-price{
        font-family:'Fraunces', serif;
        color: hsl(158, 36%, 37%);
        font-size: 35px;
        margin-right: 25px ; /*to add a gap between the two prices*/
        

    }

    p.old-price{
        color: hsl(158, 36%, 37%);
        text-decoration: line-through;
        
    }

    button.btn1{
        background: hsl(158, 36%, 37%);
        border: none; /* to remove the site's default border*/
        outline: none;
        padding: 14px 0; /*top and right is 12px nd left and right as 0*/
        border-radius: 12px;
        color:white;
        font-size: 14px;
        font-weight:700;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width:100%;


    }

    button.btn1 img{
        padding-right:7px;  /*makes a tiny space between icon and text in the button*/
    }

    button.btn1:hover{
        
        background: hsl(158, 36%, 23%); /*The l in  hsl will make color darker as you reduce the percentage i.e l with 23% is darker than 36%*/
        
    }

    @media only screen and (max-width:628px){
        .grid{
            grid-template-columns: 1fr;
        }

        .img img{
            max-height: 450px;
            width: 100%;
            object-fit:cover; /*to avoid shrinking the image while it stetches*/

        }

        .card-content{
            display:block;
        }

        h6.pro-cat, h2.pro-name, p.pro-des, .price{
        padding-bottom:23px;  /*creates gap/padding under each element, basically b/t each and the next*/
        
        }
    }

    @media only screen and (max-width:375px){
        .container{
            margin:15px auto; /*top and bottom; left and right*/
            padding: 0 15px;
            
        }

        .img img{
            max-height: 290px;
        }

        .card-content{
            padding: 24px;
        }

        h6.pro-cat, h2.pro-name, p.pro-des, .price{
            padding-bottom:16px;  /*creates gap/padding under each element, basically b/t each and the next*/
            
    }

    h2.pro-name{
        font-size: 28px;
    }

    p.pro-des{
        font-size: 12px;

    }

    p.current-price{
        font-size: 23px;
    }

    button.btn1{
        padding: 12px 0;
        font-size: 13px;
        
    }
}

.last{
    
    text-align: center;
}
