* {
    
}
body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

img{
    max-width: 300px;
    
}

.image{
    

}

.text{
    width: 200px;
    height: 390px;
    justify-content: center;
    margin: 0 ;
    padding: 20px 40px 40px 20px;
    
    align-content: center;
    background-color: hsl(0, 0%, 100%);
    
}

.h1{
    font-family: serif;
}


/*body{
margin: 0 auto;
border: 2px;
font-size: 14px;
/* align-content: center; 
max-width: 360px;
background-color:hsl(30, 38%, 92%);

}

.container{

    display: flex;
    justify-content: center;
    max-height: 360px;
}

.container img {
    width: 300px;
    height: 500px;
    padding-top: 40px;
    

}

.mybox{
   width: 200px;
    height: 400px;
    background-color: hsl(0, 0%, 100%);
    text-align:center;
    width: 50%;
    
   /*position: absolute;*/ 

    
}

    /*text-align: center;
    width: 50%;
    height: 100px;
    margin: 2px;
    border: 3px solid red; 
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
    color:green;

}
*/
